.cardpost{
    color: #fff;
    max-width: 500px;
}

.cardPostHeader{
    background-color: #626262;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardPostContent{
    margin-bottom: 2rem;
}

.cardPostImage{
    border-radius: 8px 8px 8px 8px;
}
.cardPostFooter{
    display: flex;
    justify-content: flex-end;
}